.message {
    position: absolute;
    margin-right: 15px;
    background-color: #0066CC;
    padding: 10px;
    align-content: flex-end;
}

.imageAndText {
    margin-right: 0px;
}

.imageAndText img {
    float: right;
    max-width: 60px;
    width: 100%;
    margin-right: 70px;
    border-radius: 50%;
}

.text {
    font-size: 16px;
    font-weight: bold;
    justify-content: flex-end;
}

.text:after {

}

.name {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    align-items: flex-end;
    margin-top: 7px;
    margin-right: 25px;
}

.messageText {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 8px;

}

.time {
    display: flex;
    justify-content: flex-end;
    color: #000000;
    float: right;
    margin-right: 70px;
    padding-top: 5px;
}