.friendMessage {
    color: #000000;
    padding: 70px;
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {

}

.friendText:after {

}

.friendName {
    font-size: 18px;
    padding-left: 145px;
}

.friendMessageText {

}

.friendTime {
    width: 26px;
    height: 12px;
    color: #000000;
}
