.sendForm {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 70px 70px ;
}

.textarea {
    align-items: start;
    margin-left: 70px;
    padding: 12px 24px;
    background: #F5F7FB;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgb(29 33 38 / 3%), 0 1px 2px rgb(29 33 38 / 10%);
}

.button {
    font-size: 16px;
    font-family: Montserrat;
    border-radius: 20px;
    background: #0066CC;
    color: #FFFFFF;
    padding: 10px 38px;
    margin: 0 70px 0 44px;
}

.button:hover {
    border: 1px solid #0066CC;

}

.button:active {
}
