.sendForm {

}

.textarea {
    justify-content: center;
    margin-left: 70px;
    margin-right: 44px;
    padding: 12px 24px;
}

.button {
    font-size: 16px;
    font-family: Montserrat;
    border-radius: 20px;
    background: #0066CC;
    color: #FFFFFF;
    padding: 10px 38px;
}

.button:hover {

}

.button:active {
    box-shadow: 1px 1px 3px #000000;
}
